@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@500&display=swap');
.header {
  font-family: 'Palanquin Dark', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 102;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.blackHeader {
  font-family: 'Palanquin Dark', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 102;
  transition: 0.2s ease-in-out;
  background-color: rgb(39, 39, 39);
}

.title {
  all: unset;
}
.title {
  font-size: 40px;
  font-weight: 700;
  margin-left: 0.5em;
  padding: 0.3em;
  color: #f37423;
}
.title:hover {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.buttons {
  all: unset;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: 0.3s ease-in-out;
  color: #f37423;
  cursor: pointer;
  margin-right: 20px;
}
.logoutImg {
  color: #f37423;
  font-weight: bold;
}
.menuBtn {
  margin-right: 15px;
  cursor: pointer;
  color: black;
}

.closeBtn {
  margin-right: 15px;
  cursor: pointer;
  color: white;
  z-index: 103;
}

.black {
  color: black;
}
.white {
  color: white;
}

.testHamburger {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background-color: #f0f0f0;
  opacity: 0.9;
  z-index: 11;
}
